
// Configuración de la conexion para base de datos
// Asegúrate de crear un archivo .env en la raíz de tu proyecto con las siguientes variables:
DATABASE_URL=postgres://usuario:contraseña@localhost:5432/grupo 7.sql